.user_manager{
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
    color: black;
    font-weight: none;
    padding-top: 80px;
    padding-bottom: 20px;
}

table{
    border-collapse: collapse;
}
table, td, td{
    width: 800px;
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(229, 77, 0, 0.2);
    margin-top: 20px;
    text-align: start;
    font-weight: none;


}
.user_manager-container>li{
    line-height: 25px;
    margin-right: 12px;
}
.user__manager-delete, .user__manager-update{
    height: 30px;
    width: 50px;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
}
.user__manager-delete:hover ,.user__manager-update:hover{
    opacity: 0.6;
}
.user__manager-update{
    margin-left: 20px;
}
/* search user */
.search__user-input{
    height: 40px;
    width: 300px;
    padding: 12px;
    margin-right: 10px;
}
.search__user-btn{
    height: 40px;
    width: 60px;
    border: none;
    background-color: var(--orange);
    border-radius: 5px ;
}
.search__user-btn:hover{
    opacity: 0.6;
}