.authadmin{
    max-width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--orange);
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    position: relative;
    
}
.form__admin{
    margin: auto;
}
.option__manager{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    width: 100%;
    position: absolute;
    top: 0;
    height: 50px;
    z-index: 99999;

    
}
.authadmin__title{
    font-size: 20px;
    margin: 20px 0px;
    color: aqua;
}
.fa-fingerprint{
    font-size: 50px;
    color: aqua;
}
.authadmin__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authadmin__form>input{
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border: none;
    margin-bottom: 30px;
}
.authadmin__form>input:focus{
    border: 2px solid aqua;
    outline: none;
}

.authadmin__btn{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: aqua;
    font-weight: 600;
    color: var(--orange);
    transition: all .8s ease;
}
.authadmin__btn:hover{
    transform: scale(1.1);
}
.out__admin{
    cursor: pointer;
}
.out__admin:hover , .title__manager:hover{
    opacity: 0.6;
}